AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: 'false'
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 80
ConstructorInitializerIndentWidth:  2
ContinuationIndentWidth: 2
DeriveLineEnding: false
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<OpenKneeboard/config.h>'
    Priority: 1
  - Regex: '^".+'
    Priority: 2
  - Regex: '^<OpenKneeboard/[A-Z_/].+.+'
    CaseSensitive: true
    Priority: 10
  - Regex: '^<OpenKneeboard/[a-z0-9_/]+\.h(pp)?>$'
    CaseSensitive: true
    Priority: 12
  - Regex: '^<OpenKneeboard/[a-z0-9_/]+\.h(pp)?>$'
    CaseSensitive: false
    Priority: 11
  - Regex: '^<shims/.+'
    Priority: 20
  - Regex: '^<Windows\.h>$'
    Priority: 30
  - Regex: '^<Unknwn\.h>'
    Priority: 30
    SortPriority: 31
  - Regex: '^<(Psapi|shellapi|TlHelp32|ShlObj(_core)?|Shlwapi|libloaderapi|WtsApi32|Dbt|Rpc|dinput|CommCtrl|objbase|KnownFolders|SubAuth|d3d11|d3d12|winternl|winmeta)\.h>'
    Priority: 30
    SortPriority: 32
  - Regex: '^<WinTrust.h>$'
    Priority: 32
  - Regex: '^<SoftPub.h>$'
    Priority: 32
    SortPriority: 33
  - Regex: '^<combaseapi.h>$'
    Priority: 33
  - Regex: '^<ctxtcall.h>$'
    Priority: 33
    SortPriority: 34
  - Regex: '^<ppl[a-z]+\.h>'
    Priority: 33
  - Regex: '^<wil/cppwinrt_helpers\.h>$' # Must be included after various other headers
    Priority: 1
    SortPriority: 100
  - Regex: '^<winrt/.+'
    Priority: 35
  - Regex: '^<wil/.+'
    Priority: 36
  - Regex: '^<(windows|microsoft)\..+\.h>$' # Usually interop headers, e.g. windows.data.pdf.interop
    Priority: 37
  - Regex: '^<[a-z_]+/.+\.h(pp)?>$'
    Priority: 999
    SortPriority: 41
  - Regex: '^<[a-z_/]+>$'
    Priority: 42
    CaseSensitive: true
  - Regex: '^<afunix.h>$'
    Priority: 43
    SortPriority: 44
  - Regex: '^<[a-z0-9_]+\.h>$'
    Priority: 43
IndentRequiresClause: true
IndentWidth: 2
InsertNewlineAtEOF: true
LineEnding: 'LF'
MaxEmptyLinesToKeep: 1
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
ReflowComments: Always
SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: false
SpacesBeforeTrailingComments: 0
Standard: c++20
TabWidth: 2
UseCRLF: false
UseTab: Never