BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlinesLeft: DontAlign
AlignOperands: 'false'
AlignTrailingComments: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: 'true'
ColumnLimit: '80'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
DeriveLineEnding: false
DerivePointerAlignment: false
IndentRequires: true
IndentWidth: '2'
MaxEmptyLinesToKeep: '1'
PointerAlignment: Left
ReflowComments: true
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeRangeBasedForLoopColon: 'false'
SpacesBeforeTrailingComments: '0'
Standard: c++20
TabWidth: '2'
UseCRLF: false
UseTab: Never
