.badge {
  font-size: 80%;
  padding: 0.25em 0.5em;
  border-radius: 1em;
}

.badge-success {
  background-color: #0d8662;
  color: white;
}
.badge-warning {
  background-color: #b66a00;
  color: white;
}