.dl-button {
  background-color: $link-color;
  border-radius: 1.2rem;
  padding: 1.2rem 1.8rem;
  width: fit-content;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
}

.dl-button-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  &:hover {
    .dl-button {
      background-color: darken($link-color, 10%);
    }
    .dl-button-below-text {
      text-decoration-color: white;
      text-decoration: underline;
    }
  }
}

.dl-button-below-text {
  display: inline-block;
  font-size: 0.7rem;
  width: fit-content;
  margin-top: 0.3rem;
}
