:root {
  --semi-bold: 600;
  --color-bg-frame: color-mix(in srgb, var(--system-color-Foreground) 16.7%, var(--system-color-Background));
  --color-bg-widget: color-mix(in srgb, var(--system-color-Foreground) 22%, var(--system-color-Background));
  --color-button-border: color-mix(in srgb, var(--system-color-Foreground) 23%, var(--system-color-Background));
  --color-button-hover: color-mix(in srgb, var(--system-color-Foreground) 24%, var(--system-color-Background));
  --color-button-active: color-mix(in srgb, var(--system-color-Background) 1%, transparent);
  --color-fg-placeholder-text: color-mix(in srgb, var(--system-color-Foreground) 55%, var(--system-color-Background));
  --color-toggleswitch-unchecked-border: color-mix(in srgb, var(--system-color-Foreground) 62%, var(--system-color-Background));
  --color-toggleswitch-unchecked-slider: color-mix(in srgb, var(--system-color-Foreground) 81%, var(--system-color-Background));
  --color-accent-border: color-mix(in srgb, var(--system-color-Foreground) 66%, var(--system-color-Background));
}

.nativeWarning {
  border: 1px solid #c00;
  background-color: #ff0;
  color: black;
  padding: 2ex;
}

.nativeWarning:before {
  content: "⚠️"
}

* {
  margin: 0;
  padding: 0;
  color: var(--system-color-Foreground);
  font-family: 'Segoe UI', sans-serif;
}

body {
  /* XAML color ramp appears to be 1/6 */
  background-color: var(--color-bg-frame);
  color: var(--system-color-Foreground);
  /* match `.bodyFont` */
  font-size: 14pt;
}

/* See https://learn.microsoft.com/en-us/windows/apps/design/style/xaml-theme-resources#the-xaml-type-ramp */

.nxCaption,
.nxToggleSwitch {
  font-size: 12pt;
  margin-bottom: 4px;
  margin-top: 12px;
}

.body {
  font-size: 14pt;
}

.bodyStrong {
  font-weight: var(--semi-bold);
  font-size: 14pt;
}

.bodyLarge {
  font-size: 18pt;
}

.subtitle {
  font-weight: var(--semi-bold);
  font-size: 20pt;
}

.nxTitle {
  font-weight: var(--semi-bold);
  font-size: 28pt;
  margin-bottom: 24px;
}

.titleLarge {
  font-weight: var(--semi-bold);
  font-size: 40pt;
}

.display {
  font-weight: var(--semi-bold);
  font-size: 68pt;
}

.nxPage {
  padding: 12px;

  @media (min-width: 640px) {
    padding: 24px;
  }
}

.nxWidget {
  background-color: var(--color-bg-widget);
  border-radius: 4px;
  box-sizing: border-box;
}

.nxInput {
  border-radius: 4px;
  padding: 8px;
}

input::placeholder {
  color: var(--color-fg-placeholder-text);
}

.nxButton {
  background-color: var(--color-bg-widget);
  border: 1px solid var(--color-button-border);
  padding: 8px;
  border-radius: 4px;
  display: inline-flex;

  &:hover {
    background-color: var(--color-button-hover);
  }

  &:active {
    background-color: var(--color-button-active);
  }
}

.nxFontIcon {
  font-family: "Segoe Fluent Icons", "Segoe MDL2 Assets", "Segoe UI Symbol";
  margin: 4px;
  height: 1lh;
  width: 1lh;
  display: inline-block;
  vertical-align: middle;
}

.nxTextBox {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color-accent-border);

  &:focus {
    outline: none;
    border-bottom-color: var(--system-color-AccentLight2);
  }
}

.relatedWidgetSpacingLeft {
  margin-left: 4px;

  @media (min-width: 640px) {
    margin-left: 8px;
  }
}

span.code {
  font-family: "Cascadia Mono", "Consolas", monospace;
}

.nxToggleSwitch {
  --height: 1lh;
  --width: calc(var(--height) * 2);

  --slider-height: calc(var(--height) * 0.7);
  --slider-margin: calc((var(--height) - var(--slider-height)) / 2);

  --slider-hover-height: calc(var(--height) * 0.8);
  --slider-hover-margin: calc((var(--height) - var(--slider-hover-height)) / 2);

  height: var(--height);
}

.nxToggleSwitch_control {
  height: var(--height);
  width: var(--width);
  display: inline-block;
  border: 1px solid;
  border-radius: calc(var(--height) / 2);
  vertical-align: text-bottom;
}

.nxToggleSwitch_content {
  display: inline-block;
  margin-left: 12px;
}

.nxToggleSwitch_slider {
  height: var(--slider-height);
  top: var(--slider-margin);
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  transition: margin-left 200ms, height 200ms, top 200ms;
  margin-right: auto;
}

.nxStackPanel {
  display: flex;
  gap: 8px;

  &.nxStackPanel_Vertical {
    flex-direction: column;
  }

  &.nxStackPanel_Horizontal {
    flex-direction: row;
  }
}

.nxToggleSwitch:hover {
  .nxToggleSwitch_slider {
    height: var(--slider-hover-height);
    top: var(--slider-hover-margin);
  }
}

.nxToggleSwitch_unchecked {
  .nxToggleSwitch_control {
    border-color: var(--color-toggleswitch-unchecked-border);
  }

  .nxToggleSwitch_slider {
    margin-left: var(--slider-margin);
    background-color: var(--color-toggleswitch-unchecked-slider);
  }

  & :hover {
    .nxToggleSwitch_slider {
      margin-left: var(--slider-hover-margin);
    }
  }
}

.nxToggleSwitch_checked {
  .nxToggleSwitch_control {
    border-color: var(--system-color-AccentLight2);
    background-color: var(--system-color-AccentLight2);
  }

  .nxToggleSwitch_slider {
    margin-left: calc(var(--width) - (var(--slider-margin) + var(--slider-height)));
    background-color: var(--system-color-Background);
  }
}