name: Build and Package
on:
  pull_request:
    paths:
      - "assets/**"
      - "installer/**"
      - "src/**"
      - "third-party/**"
      - "*.props"
      - "*.cmake"
      - "CMakeLists.txt"
      - ".github/workflows/ci.yml"
  push:
    paths:
      - "assets/**"
      - "installer/**"
      - "src/**"
      - "third-party/**"
      - "*.props"
      - "*.cmake"
      - "CMakeLists.txt"
      - ".github/workflows/ci.yml"
  workflow_dispatch:
permissions:
  packages: write
env:
  USERNAME: ${{github.repository_owner}}
  FEED_URL: https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/${{github.repository_owner}}/index.json,readwrite"
jobs:
  populate-vcpkg-cache:
    name: Populate vcpkg cache (${{matrix.triplet}})
    runs-on: windows-2022
    strategy:
      matrix:
        include:
          - triplet: x64-windows-openkneeboard
            extra: ""
          - triplet: x86-windows-static
            extra: "--x-no-default-features"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'true'
      - name: Bootstrap vcpkg
        run: third-party/vcpkg/bootstrap-vcpkg.bat
      - name: Add nuget source
        shell: pwsh
        run: |
          .$(third-party/vcpkg/vcpkg fetch nuget) `
            sources add `
            -Source "${{ env.FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
          .$(third-party/vcpkg/vcpkg fetch nuget) `
            setapikey "${{ secrets.GITHUB_TOKEN }}" `
            -Source "${{ env.FEED_URL }}"
      - name: "Install dependencies"
        run: third-party/vcpkg/vcpkg install --triplet ${{matrix.triplet}} --clean-after-build ${{matrix.extra}}
  build:
    name: Build (${{matrix.config}})
    needs: populate-vcpkg-cache
    if: always() && !failure() && !cancelled()
    runs-on: windows-2022
    strategy:
      matrix:
        config: [RelWithDebInfo, Debug]
    steps:
      - uses: actions/checkout@v6
        with:
          path: source
          fetch-depth: 0
          submodules: 'true'
      - name: Bootstrap vcpkg
        run: source/third-party/vcpkg/bootstrap-vcpkg.bat
      - name: Add nuget vcpkg source
        shell: pwsh
        working-directory: source
        run: |
          .$(third-party/vcpkg/vcpkg fetch nuget) `
            sources add `
            -Source "${{ env.FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
      - name: Make build directory
        run: cmake -E make_directory build
      - name: Configure
        working-directory: build
        shell: pwsh
        run: |
          $args = @(
            "-DSOURCELINK=https://raw.githubusercontent.com/${{github.repository}}/${{github.sha}}"
          )
          if ("${{matrix.config}}" -eq "Debug") {
            $args += "--preset", "debug"
          } else {
            $args += "--preset", "release"
          }
          cmake ${{github.workspace}}/source `
            -B ${{github.workspace}}/build `
            @args
      - name: Build
        id: build
        working-directory: build
        run: |
          # Build
          echo "::group::Running cmake --build"
          cmake --build . `
            --config ${{matrix.config}} `
            --parallel `
            -- `
            /p:CL_MPCount=
          echo "::endgroup::"
          echo "::group::Setting version"
          $version="$(Get-Content version.txt)"
          Add-Content $Env:GITHUB_OUTPUT "VERSION=${version}"
          echo "::endgroup::"
      - name: Attach debug symbols
        if: ${{ matrix.config != 'Debug' && github.repository == 'OpenKneeboard/OpenKneeboard' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')) }}
        uses: actions/upload-artifact@v5
        with:
          name: OpenKneeboard-GHA${{github.run_number}}-DebugSymbols
          path: build/out/${{matrix.config}}/pdb
      - name: Build installer generator
        if: ${{matrix.config != 'Debug' }}
        shell: pwsh
        working-directory: source/OpenKneeboard-Installer
        run: |
          dotnet publish `
            --configuration Release `
            --output "${{github.workspace}}/build/out/${{matrix.config}}/installer-generator"
      - name: Attach bundle
        if: ${{ matrix.config != 'Debug' && github.repository == 'OpenKneeboard/OpenKneeboard' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')) }}
        uses: actions/upload-artifact@v5
        with:
          name: OpenKneeboard-GHA${{github.run_number}}
          path: |
            build/out/${{matrix.config}}
            !build/out/${{matrix.config}}/pdb
      - name: Install WiX
        run: |
          dotnet tool install --global wix --version 5.0.2
          # Wix5 by default will pull in the Wix6 RC wixext, which isn't compatible
          wix extension add -g WixToolset.UI.wixext/5.0.2
      - name: Build installer
        id: build-installer
        if: ${{matrix.config != 'Debug' }}
        shell: pwsh
        working-directory: build/out/${{matrix.config}}
        run: |
          installer-generator/OpenKneeboard-Installer.exe `
            "$(Get-Location)" `
            --stamp-file ${{github.workspace}}/installer.stamp
          $InstallerPath = Get-Content ${{github.workspace}}/installer.stamp
          $InstallerName = (Get-Item $InstallerPath).Name
          Add-Content $env:GITHUB_OUTPUT "installer-path=${InstallerPath}"
          Add-Content $env:GITHUB_OUTPUT "installer-name=${InstallerName}"
      - name: Upload unsigned installer
        if: ${{ matrix.config != 'Debug' && github.repository == 'OpenKneeboard/OpenKneeboard' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')) }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{steps.build-installer.outputs.installer-name}}
          path: ${{steps.build-installer.outputs.installer-path}}
      - name: Generate release notes
        if: github.ref_type == 'tag' && matrix.config != 'Debug'
        id: release-notes
        run: |
          $out = "${{runner.temp}}/release_notes.md"
            (Get-Content -Path source/.github/workflows/release_notes.md -raw) `
            -replace '@TAG@','${{github.ref_name}}' | `
            Set-Content -Path $out -Encoding UTF8
          Add-Content $Env:GITHUB_OUTPUT "PATH=$out"
      - name: Create draft release
        id: create-release
        if: github.ref_type == 'tag' && matrix.config != 'Debug'
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
        with:
          draft: true
          body_path: ${{steps.release-notes.outputs.PATH}}
          prerelease: ${{contains(github.ref_name, '-')}}