name: Update Autoupdater
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  update-autoupdate:
    if: github.repository == 'OpenKneeboard/OpenKneeboard'
    strategy:
      matrix:
        channel: [preview, stable]
    name: Update ${{matrix.channel}} channel
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v6
        with:
          path: source
          fetch-depth: 0
          ref: master
      - name: Run autoupdater script
        id: UpdateScript
        shell: pwsh
        working-directory: source/autoupdate
        run: |
          $OldVersion=(Get-Content -Raw "${{matrix.channel}}-msi.json" | ConvertFrom-JSON).tag_name
          .\Generate.ps1 -${{matrix.channel}} -GithubToken "${{secrets.GITHUB_TOKEN}}"
          git diff --exit-code | Out-Null
          if ($LastExitCode -eq 0) {
            $HaveChanges="false"
          } else {
            $HaveChanges="true"
            $NewVersion=(Get-Content -Raw "${{matrix.channel}}-msi.json" | ConvertFrom-JSON).tag_name
            Add-Content $Env:GITHUB_OUTPUT "MESSAGE=${{matrix.channel}} autoupdate: ${OldVersion} -> ${NewVersion} [bot]"
          }
          Add-Content $Env:GITHUB_OUTPUT "HAVE_CHANGES=${HaveChanges}"
          Exit 0
      - name: Create pull request
        if: ${{ steps.UpdateScript.outputs.HAVE_CHANGES }}
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          path: source
          author: "OpenKneeboard Bot <openkneeboard-bot@users.noreply.github.com>"
          branch: "${{matrix.channel}}-autoupdate"
          delete-branch: true
          push-to-fork: openkneeboard-bot/OpenKneeboard
          token: ${{ secrets.OPENKNEEBOARD_BOT_PAT }}
          title: ${{steps.UpdateScript.outputs.MESSAGE}}
          commit-message: ${{steps.UpdateScript.outputs.MESSAGE}}
