name: Publish to WinGet
on:
  push:
    branches:
      - master
    paths:
      - autoupdate/stable-msi.json
  workflow_dispatch:
    # No arguments, always use stable-msi.json
jobs:
  publish:
    if: github.repository == 'OpenKneeboard/OpenKneeboard'
    # Action can only be run on windows
    runs-on: windows-latest
    steps:
      - name: Should publish to WinGet?
        run: |-
          # Get the tag from the autoupdate/stable-msi.json
          $githubRawUrl = "https://raw.githubusercontent.com/OpenKneeboard/OpenKneeboard/master/autoupdate/stable-msi.json"
          $tag = (Invoke-RestMethod -Uri $githubRawUrl).tag_name
          if (!$tag) {
            Write-Error "Cannot determine tag to publish"
            exit 1
          }
          Write-Host "Setting version to '$tag'"
          Add-Content $Env:GITHUB_OUTPUT "publish=true"
          Add-Content $Env:GITHUB_OUTPUT "version=$tag"
        shell: pwsh
        id: should-publish

      - if: ${{ steps.should-publish.outputs.publish == 'true' }}
        uses: vedantmgoyal2009/winget-releaser@b5bc2c7a97c9b0b31fb9432da45f496f087a111c
        with:
          identifier: FredEmmott.OpenKneeboard
          release-tag: ${{ steps.should-publish.outputs.version }}
          fork-user: openkneeboard-bot
          token: ${{ secrets.OPENKNEEBOARD_BOT_PAT }}
