<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <CustomAction Id="LaunchAfterInstall"                  
            Execute="immediate" 
            Impersonate="yes"
            Return="asyncNoWait"
            FileKey="CM_FP_Default.bin.OpenKneeboardApp.exe"
            ExeCommand="[INSTALLDIR]/bin/OpenKneeboardApp.exe"
        />
    </Fragment>
</Wix>
