<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="OpenXRAPILayerRegistration" Guid="{d27863ce-0236-4ab3-9c7b-00be378d2054}">
                <RegistryKey
                    Root="HKLM"
                    Key="SOFTWARE\Khronos\OpenXR\1\ApiLayers\Implicit">
                    <RegistryValue
                        Type="integer"
                        Name="[INSTALL_ROOT]OpenKneeboard-OpenXR.json"
                        Value="0"
                        KeyPath="yes"
                    />
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
