<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
		<Property Id="POWERSHELLEXE">
			<RegistrySearch
				Id="POWERSHELLEXE"
				Type="raw"
				Root="HKLM"
				Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
				Name="Path"
				Win64="yes"
			/>
		</Property>
		<Condition Message="This application requires Windows PowerShell.">
			Installed OR POWERSHELLEXE
		</Condition>

        <!--
            Equivalent to:

            PS > & 'C:\Program Files\...\RemoveMSIX.ps1'

            - Single quotes for the path
            - ampersand for 'execute quoted string'
            - double quotes for the whole powershell 'command' arg
        -->
        <CustomAction
            Id="RemoveMSIXElevated" 
            BinaryKey="WixCA" 
            DllEntry="WixQuietExec64"
            Execute="deferred" 
            Return="check" 
            Impersonate="no"
        />
        <SetProperty
            Id="RemoveMSIXElevated"
            Before="RemoveMSIXElevated"
            Value="&quot;[POWERSHELLEXE]&quot; -NonInteractive -NoProfile -ExecutionPolicy bypass -Command &quot;&amp; '[#CM_FP_Installer.installer.RemoveMSIX.ps1]'&quot;"
            Sequence="execute"
        />
        <CustomAction
            Id="RemoveMSIXImpersonated" 
            BinaryKey="WixCA" 
            DllEntry="WixQuietExec64"
            Execute="deferred" 
            Return="check" 
            Impersonate="yes"
        />
        <SetProperty
            Id="RemoveMSIXImpersonated"
            Before="RemoveMSIXImpersonated"
            Value="&quot;[POWERSHELLEXE]&quot; -NonInteractive -NoProfile -ExecutionPolicy bypass -Command &quot;&amp; '[#CM_FP_Installer.installer.RemoveMSIX.ps1]'&quot;"
            Sequence="execute"
        />
    </Fragment>
</Wix>
